*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
}
.left{
    position: relative;
    width: 40%;
    height: 100%;
}
.left .text-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.text-center h1{
    font-size: 90px;
    font-weight: 900;
}
.text-center p{
    opacity: 0.6;
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text-center a{
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 600;
    opacity: 0.6;
}
.right{
    width: 60%;
    height: 100%;
    background-color: blueviolet;
}
.right-top{
    height: 50%;
    width: 100%;
    background-color: darkgreen;
    display: flex;
}
.right-bottom{
    height: 50%;
    width: 100%;
    background-image: url(https://media.istockphoto.com/id/1171900830/photo/orange-trees.jpg?s=612x612&w=0&k=20&c=rw0LVTpG-Px2Wm2C_dSQiRWM8Gb0EOLFweak4VHcuIw=);
    background-size: cover;
    background-position: center;
}
.right-top-1{
    height: 100%;
    width: 55%;
    background-image: url(https://media.istockphoto.com/id/1245188986/photo/hand-holding-oranges-on-orange-ground-very-nice-retouching.jpg?s=612x612&w=0&k=20&c=hJ8HtXl5w2WtyCpLjdMMm96Od0CrOx8tjDlZ61bTMFs=);
    background-size: cover;
    background-position: center;
}
.right-top-2{
    height: 100%;
    width: 45%;
    background-image: url(https://media.istockphoto.com/id/1468509647/photo/ros%C3%A9-wine-glass-on-mediterranean-chair-with-clementine-citrus-fruit-in-sunshine.jpg?s=612x612&w=0&k=20&c=rJFvoSBbzvLQFK-rX4DFZw_3DUdRSVxEjMaWmL47P5k=);
    background-size: cover;
    background-position: center;
}
.lnav{
    width: 100%;
    display: flex;
    padding: 20px 30px;
    justify-content: space-between;
}
.lnavr{
    display: flex;
    align-items: center;
}
.lnavr a{
    margin-right: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 14px;
}
.lnavr i{
    color: royalblue;
}
@media  screen and (max-width:500px) {
    .main{
        flex-direction: column;
    }
    .main .left{
        width: 100%;
    }
    .main .right{
        width: 100%;
    }
}